<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <form>
            <div class="row mb-3">
                <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="inputEmail3" name="tenLoai" required
                    value="{{data.tenLoai}}">
                </div>
            </div>
            <div class="row mb-3">
                <label for="inputPassword3" class="col-sm-2 col-form-label">Password</label>
                <div class="col-sm-10">
                    <input type="file" class="form-control" id="inputPassword3" name="imgLoaiMon" required>
                </div>
            </div>

            <button type="submit" class="btn btn-primary">Cập nhật Loại Món</button>
        </form>

        <img src="{{data.imgLoaiMon}}" alt="Error ... !" width="300px" height="300px" >        
    </div>

    <script>
        const tenLoai = document.getElementById("inputEmail3");
        const imgLoaiMon = document.getElementById("inputPassword3");
        let imgLoaiMonBase64 = '';
        const btn_send = document.querySelector("button");

        const convertBase64 = (file) => {
            return new Promise((resolve, reject) => {
                let fileReader = new FileReader();
                fileReader.readAsDataURL(file);

                fileReader.onload = () => {
                    resolve(fileReader.result);
                };

                fileReader.onerror = (error) => {
                    reject(error);
                };
            });
        };

        btn_send.addEventListener('click', async (e) => {

            e.preventDefault();
            e.stopPropagation();

            if (tenLoai.value === '') {
                alert("Khong duoc de trong");
                tenLoai.focus();
            } else if (imgLoaiMon.value === ''){
                alert("Khong duoc de trong");
                imgLoaiMon.focus();
            }
            else {
                let base64 = await convertBase64(document.getElementById('inputPassword3').files[0]);
                // console.log(base64);

                const myHeaders = new Headers();
                myHeaders.append("Content-Type", "application/x-www-form-urlencoded");

                const urlencoded = new URLSearchParams();
                urlencoded.append("tenLoai", tenLoai.value);
                urlencoded.append("imgLoaiMon", base64);

                const requestOptions = {
                    method: 'POST',
                    headers: myHeaders,
                    body: urlencoded,
                    redirect: 'follow'
                };

                const idLoaiMon  = (String(window.location.href).split("/"))[4];

                fetch("http://localhost:3000/editLoaiMon/" + idLoaiMon, requestOptions)
                    .then(response => response.text())
                    .then(result => {
                        console.log(result.error);
                        window.location.replace("/loaiMon");
                    })
                    .catch(error => console.log('error', error));
            }

        });
    </script>
</body>

</html>