<div class="table-responsive">

    <a href="/addLoaiMon" class="btn btn-success" style="margin: 20px 0;" > Thêm Loại Món </a>

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Handle</th>
            </tr>
        </thead>
        {{#if data}}
            {{#each data }}
            <tbody>
                <tr>
                    <th scope="row">{{this.idLoaiMon}}</th>
                    <td>{{this.tenLoai}}</td>
                    <td><a><img src="{{this.imgLoaiMon}}" width="50" height="50" /></a></td>
                    <td>
                        <a class="btn btn-danger" href="/deleteLoaiMon/{{this.idLoaiMon}}" > Xóa </a>
                        <a class="btn btn-primary" href="/editLoaiMon/{{this.idLoaiMon}}" > Sửa </a>
                    </td>
                </tr>
                <!-- <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td colspan="2">Larry the Bird</td>
                    <td>@twitter</td>
                </tr> -->
            </tbody>
            {{/each}}
        {{/if}}
    </table>
</div>