<div class="trai">
    <a href="/addUser" class="btn btn-success" style="margin: 20px 0;" > Thêm User </a>
    
    <div class="table-responsive" >
        <table class="table table-striped" style="width: 100%;">
            <thead>
                <tr>
                    <th scope="col" > Phone </th>
                    <th scope="col" > Password </th>
                    <th scope="col" > Role </th>
                    <!-- <th scope="col" > Email </th>
                    <th scope="col" > Full Name </th>
                    <th scope="col" > Address </th>
                    <th scope="col" > Avatar </th>
                    <th scope="col" > Birth Of Date </th>
                    <th scope="col" > Sex </th> -->
                    <th scope="col" > createTime </th>
                    <th scope="col" > Actions </th>
                </tr>
            </thead>
            <tbody>
                {{#if data}}
                    {{#each data }}
                        <tr>
                            <td>
                                {{this.phone}}
                            </td>
                            <td>
                                {{this.password}}
                            </td>
                            <td>
                                {{this.role}}
                            </td>

                            <!-- <td>
                                {{this.email}}
                            </td>
                            <td>
                                {{this.full_name}}
                            </td>
    
                            <td>
                                {{this.address}}
                            </td>
                            <td>
                                {{this.avatar}}
                            </td>
                            <td>
                                {{this.birthOfDate}}
                            </td>
                            <td>
                                {{this.sex}}
                            </td> -->

                            <td>
                                {{this.createTime}}
                            </td>
    
                            <td style="display: flex;" >
                                <a href="/editUser/{{this.phone}}" class="btn btn-primary" style="margin-right: 10px;" > Edit </a>
                                <a href="/deleteUser/{{this.phone}}" class="btn btn-outline-danger"> Delete </a>
                            </td>
                        </tr>
                    {{/each}}
                {{/if}}                        
    
            </tbody>
        </table>
    </div>

    <div>
        {{#if error}}
            {{#each error }}
                <span style="color: red;font-size: 22px;" > {{this}} </span>
            {{/each}}
        {{/if}}

        {{#if notification}}
        {{#each notification }}
            <span style="color: blue;font-size: 22px;font-family: tahoma;" > {{this}} </span>
        {{/each}}
    {{/if}}
    </div>
</div>