<div style="margin: 10px 0;">

    <a href="/addMonAn" class="btn btn-success" style="margin: 10px 0;" > Thêm Món </a>

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Tên món</th>
                <th scope="col">Loại món</th>
                <th scope="col">Giá</th>
                <th scope="col">Số lượng</th>
                <th scope="col">Mô tả</th>
                <th scope="col">Ảnh món</th>
                <th scope="col">hành động</th>
            </tr>
        </thead>
        {{#if data}}
            {{#each data }}
            <tbody>
                <tr>
                    <th scope="row">{{this.idMonAn}}</th>
                    <td>{{this.tenMonAn}}</td>
                    <td>{{this.tenLoai}}</td>
                    <td>{{this.gia}}</td>
                    <td>{{this.soLuong}}</td>
                    <td>{{this.moTa}}</td>

                    <td><a><img src="{{this.img1}}" width="50" height="50" /></a></td>

                    <td>
                        <a class="btn btn-danger" href="/deleteMonAn/{{this.idMonAn}}" > Xóa </a>
                        <a class="btn btn-primary" href="/editMonAn/{{this.idMonAn}}" > Sửa </a>
                    </td>
                </tr>
                <!-- <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td colspan="2">Larry the Bird</td>
                    <td>@twitter</td>
                </tr> -->
            </tbody>
            {{/each}}
        {{/if}}
    </table>
</div>